.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(33.3333333333% - 4rem);
  margin: 2rem;
}

.container-link {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}

.container-link ul {
  list-style: none !important;
  display: flex;
  display: flex !important;
  justify-content: center !important;
}

.container-link ul li {
  margin: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

